<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
 <p>Hi <%= @user.email %></p>
    <p>
      You have a new item request ready for review. <a href='<%= @url_item_requests %>'>Check it out</a>
    </p>
</body>
</html>